<div class="back-btn">
    <a href="/dashboard" class="back-btn"> Back to dashboard</a>
</div>

<section class="add-post">

    <h2>Add a Post</h2>
    <form  class="add-post">
        <div>
            <p>Title:</p>
            <input type="text" id="post-title" />

            <p>Text:</p>
            <textarea name="post-text" id="post-text"></textarea>
        </div>
        <button type="submit" class="create-btn">Create</button>
    </form>
</section>
<script src="/public/addPost.js"></script>